<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center " style="padding: 2rem; "
    [appStoryblok]="_editable">
    <div style="margin-bottom: 1rem; "><img [src]="imagen.filename"></div>
    <h4 class="small celeste bold ">{{ texto_1 }}</h4>
    <h5 class="bolder ">{{ texto_2 }}</h5>
    <p class="internos ">
        {{ texto_3 }}
    </p>
</div>

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center " style="padding: 2rem; "
    [appStoryblok]="_editable">
    <div style="margin-bottom: 1rem; "><img [src]="imagen.filename"></div>
    <h4 class="small celeste bold ">{{ texto_1 }}</h4>
    <h5 class="bolder ">{{ texto_2 }}</h5>
    <p class="internos ">
        {{ texto_3 }}
    </p>
</div>